<center>
    <div class="signature">
    <h1>Kevin Patrick Westropp</h1>
    <p>
        <a id="depaulwebsite" href="http://www.cdm.depaul.edu/" data-toggle="tooltip" data-placement="left" title="DePaul University Website" target="_blank"><img src="/assets/depaullogo.jpg" alt="DePaul" width="25" height="25"/></a>
        <a id="orgwebsite" href="http://www.kevinpatrickwestropp.org" data-toggle="tooltip" data-placement="top" title="kevinpatrickwestropp.org" target="_blank"><img src="/assets/kpworg.png" width="25" height="25"/></a>
        <a id="githubwebsite" href="http://github.com/highlanderkev" data-toggle="tooltip" data-placement="bottom" title="Github Profile" target="_blank"><img src="/assets/github.png" alt="GithubCat" width="25" height="25"/></a>
        <a id="linkedinwebsite" href="https://www.linkedin.com/in/kevinpatrickwestropp" data-toggle="tooltip" data-placement="top" title="Linkedin Profile" target="_blank"><img src="/assets/linkedin.png" alt="LinkedinIcon" width="25" height="25"/></a>
        <a id="myemail" href="mailto:mail@kevinpatrickwestropp.com" data-toggle="tooltip" data-placement="right" title="My Email Address" target="_blank"><img src="/assets/email.png" alt="email icon" width="25" height="25"/></a>
    </p>
    <p class="view"><a href="http://www.kevinpatrickwestropp.org/home/cv/index">View my R&#233sum&#233/CV</a></p>
    <a href="/" class="btn btn-small btn-info"><strong>Home</strong></a>
    <br />
    </div>
    {% include twitter.html %}
</center>
