<div id="twitter-widget" data-toggle="collapse">
<hr />
<a class="twitter-timeline" href="https://twitter.com/kevinwestropp" data-widget-id="398918755658375168">Tweets by @kevinwestropp</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<hr />
</div>
